.card {
  background: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  width: 100vw;
  max-width: 100%;
}

.card h3 {
  margin-bottom: 15px;
}

.cardContent {
  margin: 15px 0;
}

.cardContent h5 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cardContent a {
  color: inherit;
  text-decoration: none;
}

.cardContent p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 600px) {
  h5 {
    font-size: 1rem;
  }

  p, .card-content p {
    font-size: 0.9rem;
  }

  .card {
    width: 90%;
    max-width: 400px;
    margin: auto;
  }

  .card-content {
    width: 100%;
    padding: 15px;
    text-align: center;
  }
}